@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  height: 100vh; /* Ensures the element covers the full height */
  background: linear-gradient(135deg, #e66022, #ecab62f7); /* Adjust colors as needed */
  color: white; /* Change text color for better visibility */
}

.form-box{ 
  border: 3px solid #e63424;
}